body {
  margin: 0;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, arial, sans-serif;
  background-color: #fff;
}

.header-title {
  font-size: 4em;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, arial, sans-serif;
}

#test {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 2em;
}
